# Environments
.env
.venv
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Distribution / Build
dist/
build/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Neo4j Local Data (if not in volume)
data/
logs/
import/
plugins/

*.codex/